@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

:root {
  /* * Colors */
  --gold-focus: #c7aa28;
  --enfasis-color: #d88f2f;
  --grey-dark: #111111;
  --grey-medium: #1b1b1b;
  --grey-light: #b1b1b1;
  --white: #fff;

  /* * Font */
  --montserrat-font: "Montserrat", sans-serif;
  --regural-weight: 400;
  --semibold-weight: 600;

  /* ? Mobile font size */
  --mobile-title-size: 50px;
  --mobile-subtitile-size: 32px;
  --mobile-subsection-size: 18px;
  --mobile-body-size: 16px;

  /* ? Desktop font size */
  --desktop-title-size: 150px;
  --desktop-subtitile-size: 50px;
  --desktop-subsection-size: 45px;
  --desktop-body-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--grey-medium);
  position: relative;
  color: var(--white);
  font-family: var(--montserrat-font);
  letter-spacing: 0.5px;
}

a,
p,
h1,
h2,
h3 {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {

  /* #region HEADER */

  /* * HEADER */
  .header__wrapper {
    display: flex;
    flex-direction: column;
  }

  /* * NAV BUTTON */

  .nav__button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

    background-color: transparent;
    color: var(--grey-light);
    border: none;

    font-size: 30px;
  }

  .nav__button--mod {
    font-size: 34px;
  }

  /* * NAV MENU */

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 2rem;

    position: absolute;
    top: 0;
    right: 0%;
    z-index: 10;
  }

  /* ! MENU NAVIGATION */

  .menu__nav {
    background-color: var(--grey-dark);
    width: 100vw;
    height: 100vh;
    padding: 2rem;

    position: fixed;
    top: 0;
    right: 0%;
    z-index: 1000;
    visibility: hidden;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    transition: all 500ms ease;
  }

  .menu__nav.active {
    right: 0%;
    visibility: visible;
  }

  .close__wrapper {
    margin-bottom: 10%;
  }

  /* * MENU ITEMS */

  .menu__wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .menu__items {
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 8rem;
  }

  .menu__items>.items {
    list-style: none;
  }

  .menu__items>.items>a {

    text-decoration: none;
    font-size: 25px;
    color: var(--grey-light);
    text-decoration: none;
    text-transform: capitalize;
  }

  .menu__items>.items>a:hover {
    transform: scaleX(85%);
  }

  /* * MENU ICONS */

  .nav__icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
  }

  .nav__icons>a>i {
    color: var(--grey-light);
    padding: 15px;
    font-size: 2rem;
  }

  /* ?-------------------------------------------------------- */


  /* * HEADER INFO */

  .subheader {
    background-color: var(--grey-dark);
    width: 100%;
    height: auto;
    padding-top: 3rem;

    display: flex;
    flex-direction: row;
    justify-content: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
  }

  /* * SUBHEADER TEXT */

  .subheader__text {
    width: 100%;
    height: 50%;
    margin-top: 5rem;
    padding: 2rem;

    position: absolute;
    top: 0;
    z-index: 5;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    color: var(--grey-light);
  }

  .subheader__name {
    max-width: 50%;
    height: auto;
  }

  .subheader__name>h1 {
    margin: 0;
    padding-bottom: 10px;
    font-size: 25px;
  }

  .subheader__name>h1>span {
    color: var(--enfasis-color);
    font-size: 40px;
  }

  .subheader__name>.separator {
    width: 60%;
    border-top: var(--grey-light) 2.5px solid;
  }

  .subheader__name>h2 {
    width: 70%;
    padding-top: 10px;
    font-size: 15px;
  }

  .subheader__experience {
    width: 50%;
    margin: 0 auto;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start; */
  }

  .subheader__experience>h2 {
    text-align: right;
    font-size: 20px;
    padding-bottom: 20px;
  }

  .subheader__experience>h2>span {
    font-size: 30px;
    color: var(--enfasis-color);
  }

  .subheader__cta {
    width: 100%;

    display: flex;
    justify-content: flex-end;
  }

  .subheader__cta>a {
    background-color: transparent;
    padding: 10px 30px;
    border-radius: 50px;
    border: 2px solid var(--enfasis-color);

    font-size: 15px;
    color: var(--enfasis-color);
    font-weight: var(--semibold-weight);
  }

  /* * SUBHEADER PORTRAIT */

  .portrait__wrapper {
    width: 100%;
    height: 100%;
    position: relative;

    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .subheader__background {
    width: 400px;
    height: 400px;
    border-radius: 100%;

    background-color: var(--grey-medium);
    position: relative;
    top: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .subheader__portrait {
    width: auto;
    height: 100%;
    object-fit: cover;
    object-position: top;

    position: relative;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

  }

  /* * SUBHEADER ICONS */

  .subheader__icons {
    background-color: var(--grey-medium);
    width: 90%;
    height: auto;
    padding: 1.5rem 2rem;

    border-radius: 20px;

    position: relative;
    bottom: 3rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .subheader__icons .icons {
    background-color: var(--enfasis-color);
    border-radius: 20%;

    width: auto;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

  }

  .subheader__icons .icons>i {
    color: var(--grey-medium);
    font-size: 35px;
    padding: 15px 30px;
  }

  /* #endregion */

  /* #region ABOUT */

  /* * ABOUT SECCTION */

  .about__wrapper {
    width: 100%;
    height: auto;
    padding: 3rem 2rem;

    background-color: var(--grey-medium);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    color: var(--grey-light);
  }

  /* * ABOUT TITLE */

  .about__title {
    width: 100%;
    height: 50px;
  }

  .about__title>h2 {
    color: var(--enfasis-color);
    text-align: center;
    font-size: 30px;
  }

  /* * ABOUT DESCRIPTION */

  .about__description {
    margin-top: 10px;
  }

  .about__description>p {
    text-align: center;
    line-height: 1.5;
    font-size: var(--mobile-body-size);
  }

  /* #endregion */

  /* #region SERVICES */

  .services__wrapper {
    background-color: var(--grey-dark);
    width: 100%;
    height: auto;
    padding: 3rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .services__title {
    width: 100%;
    height: 50px;
  }

  .services__title>h2 {
    color: var(--enfasis-color);
    text-align: center;
    font-size: 30px;
  }

  .services__card--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .services__card {
    width: 250px;
    height: 300px;
    background-color: var(--white);
    margin: 20px;

    border-radius: 20px;
    overflow: hidden;
  }

  .card__icon {
    width: 100%;
    height: 50%;
    padding: 1rem;

    background-color: #dedede;
    border-bottom-left-radius: 150px 150px;
    border-bottom-right-radius: 150px 150px;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card__icon>i {
    color: var(--grey-medium);
    font-size: 90px;
    position: relative;
    top: 10px;
  }

  .card__content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;
  }

  .card__title {
    margin-bottom: 1rem;
    color: var(--grey-medium);
    font-size: 20px;
    font-weight: var(--semibold-weight);
  }

  .card__paragraph {
    padding: 0 0.5rem;
    color: var(--grey-medium);
    font-size: 12px;
    text-align: center;
    font-size: var(--mobile-body-size);
    font-weight: var(--regural-weight);
  }

  /* #endregion */
  /* #region SKILLS */

  .skills__wrapper {
    width: 100%;
    height: 100%;
    padding: 3rem 2rem;
  }

  .skill__title {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;

    color: var(--enfasis-color);
    font-size: 30px;
    text-align: center;
  }

  .skills__lang {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .skill__icon {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .skill__icon>i {
    color: #8d8d8d;
    font-size: 5rem;
  }

  /* i.fa-html5 {
    color: #ff6600;
  }

  i.fa-css3-alt {
    color: #0099ff;
  }

  i.fa-js {
    color: #ffd900;
  } */

  .skill__name {
    color: var(--grey-light);
    font-size: var(--mobile-body-size);
    text-align: center;
    padding-top: 15px;
  }

  /* #endregion */



  /* #region CONTACT */

  .form__wrapper {
    width: 100%;
    height: auto;
    padding: 3rem 2rem;

    background-color: var(--grey-dark);
  }

  .form__title {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;

    color: var(--enfasis-color);
    font-size: 30px;
    text-align: center;
  }

  .form {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .form__item {
    background-color: rgb(225, 225, 225);
    padding: 10px;
    margin: 10px 0;

    border: none;
    border-radius: 5px;
    font-weight: var(--semibold-weight);
    transition: all 300ms ease;
  }

  .form__item::placeholder {
    color: rgb(167, 167, 167);
    font-weight: var(--regural-weight);
  }

  .form__item:focus {
    background-color: var(--white);
    padding: 10px;
    margin: 10px 0;

    border: none;
    border-radius: 5px;

    outline: none;
    transform: scale(101.5%);
  }

  .form__button {
    padding: 1rem 0;
    background-color: transparent;
    margin-top: 20px;

    border: 2px solid var(--enfasis-color);
    border-radius: 100px;

    color: var(--enfasis-color);
    font-size: 18px;
    font-weight: var(--semibold-weight);

    text-transform: capitalize;
    transition: all 300ms ease;
  }

  .form__button:hover {
    padding: 1rem 0;
    background-color: var(--enfasis-color);
    margin-top: 20px;

    border: 2px solid transparent;
    border-radius: 100px;

    color: var(--grey-dark);
    font-size: 18px;
    font-weight: var(--semibold-weight);

    text-transform: capitalize;
  }

  /* #endregion */

  /* #region FOOTER */

  .footer__wrapper {
    width: 100%;
    height: 100px;
    padding: 3rem 2rem;

    background-color: var(--enfasis-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer__icons {
    width: 60%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer__icons>a>i {
    color: var(--grey-medium);
    font-size: 2rem;
  }

  /* #endregion */

}